@model SuperShopManagementSystem.Models.ViewModel.IncomeVm

@{
    ViewBag.Title = "IncomeReportPdf";
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}

<h4>Income Report</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <h4>Sales Report</h4>
        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
            <tr style="background-color:cornflowerblue; color:white">
                <td>Sl</td>
                <td>Date</td>
                <td>Customer Name</td>
                <td>Sales Amount</td>
            </tr>
            @if (Model != null)
            {
                int sl = 0;
                foreach (var item in Model.Sales)
                {
                    <tr>
                        <td>@(++sl)</td>
                        <td>@item.SaleDate</td>
                        <td>@item.CusName</td>
                        <td>@item.Total</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="col-md-6">
        <h4>Purchase Report</h4>
        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
            <tr style="background-color:cornflowerblue; color:white">
                <td>Sl</td>
                <td>Date</td>
                <td>Supplier Name</td>
                <td>Purchase Amount</td>
            </tr>
            @if (Model != null)
            {
                int sl = 0;
                foreach (var item in Model.Purchases)
                {
                    <tr>
                        <td>@(++sl)</td>
                        <td>@item.PurchaseDate</td>
                        <td>@item.Party.Name</td>
                        <td>@item.Total</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <h4>Summary</h4>
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <tr style="background-color:cornflowerblue; color:white">
                    <th>
                        Total Sales
                    </th>
                    <th>
                        Total Purchase
                    </th>
                    <th>
                        Total Profit
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.SalesTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PurchasesTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TotalIncome)
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
