@model SuperShopManagementSystem.Models.Operation.Sale

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-offset-1">
        <div class="col-md-11">
            <table>
                <tr>
                    <td><h4>Sales Result</h4></td>
                    <td>&nbsp; @Html.ActionLink("Download Pdf", "ExportPdf", "Sales", new { id = Model.Id }, new { @class = "btn btn-info btn-sm", target = "_blank" }) </td>
                </tr>
            </table>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Saled By
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Employee.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Outlet.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Outlet.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SaleDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SaleDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CusContractNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CusContractNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CusName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CusName)
                </dd>
            </dl>
            <div class="col-md-12">
                <h4>Item Details</h4>
                <table class="table table-bordered table-responsive table-hover table-striped table-condensed table">
                    <tr style="background-color:cornflowerblue; color:white">
                        <th>Sl</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Line Price</th>
                    </tr>
                    @{ int sl = 1;}
                    @foreach (var item in Model.SalesDetails)
                    {
                        var linePrice = item.Price * item.Quntity;
                        <tr>
                            <td>@sl</td>
                            <td>@item.Item.Name</td>
                            <td>@item.Quntity</td>
                            <td>@item.Price</td>
                            <td>@linePrice</td>
                        </tr>
                        sl++;
                    }
                </table>
            </div>
            <div class="col-md-offset-8 col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SubTotal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Vat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Vat)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Discount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Discount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Total)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DueAmount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueAmount)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    @Html.ActionLink("Back to List", "List", "Sales")
</div>
<div class="col-md-offset-8 col-md-2">
    @Html.ActionLink("Go to Reports", "SalesReport", "Reports")
</div>
